<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Servlet-Exam</display-name>
    <description>
        Exam exercise about servlets and database connections.
    </description>
	 
    <servlet> 
        <servlet-name>initialForm</servlet-name>
        <servlet-class>servlet.InitServlet</servlet-class>
    </servlet>
     
    <servlet-mapping>
        <servlet-name>initialForm</servlet-name>
        <url-pattern>/firstForm</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>showDBTable</servlet-name>
        <servlet-class>servlet.TableLanguagesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>showDBTable</servlet-name>
        <url-pattern>/showMeData</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>confirmDelete</servlet-name>
        <servlet-class>servlet.DeleteAuthenticationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>confirmDelete</servlet-name>
        <url-pattern>/reallyWant2Del</url-pattern>
    </servlet-mapping>  
    
    
    <servlet>
        <servlet-name>goDeleteIt</servlet-name>
        <servlet-class>servlet.DeleteServlet</servlet-class>
    </servlet>
    
	<servlet-mapping>
        <servlet-name>goDeleteIt</servlet-name>
        <url-pattern>/letMeDeleteIt</url-pattern>
    </servlet-mapping>   
    
    
    <welcome-file-list>
    	<welcome-file>Index.jsp</welcome-file>
	</welcome-file-list>

</web-app>     
